{% extends "base.html" %} {% block content %}

<h2>Race Change - White to Black</h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="image" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Click to see reult!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <img id="result" src="">
        

</div>
<div class="gallery_container">
    <div class="col-sm-3">
      <a class="lightbox" href="https://cdn.pixabay.com/photo/2016/10/27/22/53/heart-1776746_960_720.jpg">
        <img src="https://cdn.pixabay.com/photo/2016/10/27/22/53/heart-1776746_960_720.jpg" alt="Bridge">
      </a>
    </div>	
    <div class="col-sm-3">
      <a class="lightbox" href="https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350">
        <img src="https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350" alt="Bridge">
      </a>
    </div>	   	
  </div>
  
  
  <div class="video_container">
    <div class="col-sm-3">
      <div><a href="https://www.youtube.com/watch?v=oNxCporOofo" class="video_model"><img src="https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350"><img src="http://pluspng.com/img-png/play-button-png-projects-330.png"></a></div>
    </div>	
    <div class="col-sm-3">
      <div><a href="https://www.youtube.com/watch?v=NmgxYwpTm2I" class="video_model"><img src="https://cdn.pixabay.com/photo/2016/10/27/22/53/heart-1776746_960_720.jpg"><img src="http://pluspng.com/img-png/play-button-png-projects-330.png"></a></div>
    </div>	
    <div class="col-sm-3">
      <div><a href="https://www.youtube.com/watch?v=GClKpGHtMF0" class="video_model"><img src="https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350"><img src="http://pluspng.com/img-png/play-button-png-projects-330.png"></a></div>
    </div>	
    <div class="col-sm-3">
      <div><a href="https://www.youtube.com/watch?v=oNxCporOofo" class="video_model"><img src="https://cdn.pixabay.com/photo/2016/10/27/22/53/heart-1776746_960_720.jpg"><img src="http://pluspng.com/img-png/play-button-png-projects-330.png"></a></div>
    </div>	
  </div>

{% endblock %}